In [4]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
  
lending_data_df= pd.read_csv("Resources/lending_data.csv")


# Review the DataFrame
  
lending_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [5]:
# Scaling the numeric columns
lending_data_df_scaled = StandardScaler().fit_transform(lending_data_df[['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks' ,'total_debt']])

# Creating a DataFrame with with the scaled data
df_lending_transformed = pd.DataFrame(lending_data_df_scaled, columns=['loan_size', 'interest_rate', 'borrower_income', 'debt_to_income', 'num_of_accounts', 'derogatory_marks' ,'total_debt'])

# Display sample data
df_lending_transformed.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,0.427304,0.426837,0.427404,0.668571,0.616143,1.043996,0.427404
1,-0.671487,-0.674918,-0.671552,-0.802166,-0.434049,-0.673973,-0.671552
2,-0.384846,-0.370249,-0.372922,-0.344424,-0.434049,-0.673973,-0.372922
3,0.427304,0.417844,0.415459,0.655346,0.616143,1.043996,0.415459
4,0.475078,0.456068,0.451295,0.694873,0.616143,1.043996,0.451295

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [9]:
# Separate the data into labels and features


# Separate the y variable, the labels
y= lending_data_df['loan_status']

# Separate the X variable, the features
# X = lending_data_df.drop(columns='loan_status')
X = df_lending_transformed

In [10]:
# Review the y variable Series

y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [11]:
# Review the X variable DataFrame
# 
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,0.427304,0.426837,0.427404,0.668571,0.616143,1.043996,0.427404
1,-0.671487,-0.674918,-0.671552,-0.802166,-0.434049,-0.673973,-0.671552
2,-0.384846,-0.370249,-0.372922,-0.344424,-0.434049,-0.673973,-0.372922
3,0.427304,0.417844,0.415459,0.655346,0.616143,1.043996,0.415459
4,0.475078,0.456068,0.451295,0.694873,0.616143,1.043996,0.451295

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [12]:
# Check the balance of our target values

y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [13]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.6, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [14]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data

classifier.fit(X_train, y_train)
classifier

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [15]:
# Make a prediction using the testing data

predictions = classifier.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [16]:
# Print the balanced_accuracy score of the model

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
balanced_accuracy_score(y_test,predictions)

Training Data Score: 0.9942928999806538
Testing Data Score: 0.994024332573836

0.9889277193397334

In [17]:
# Generate a confusion matrix for the model

confusion_matrix(y_test,predictions)

array([[44756,   253],
       [   25,  1488]], dtype=int64)

In [18]:
# Print the classification report for the model

print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     45009
           1       0.85      0.98      0.91      1513

    accuracy                           0.99     46522
   macro avg       0.93      0.99      0.96     46522
weighted avg       0.99      0.99      0.99     46522

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 
Logistic Regression model is less accuraete with high risk loan, trhe reason being the number of healthey is around 75K while high risk is around 2500.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [19]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
  
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
  
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [20]:
# Count the distinct values of the resampled labels data
  
y_resampled.value_counts()

0    30027
1    30027
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [21]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model

log_reg_model = LogisticRegression(random_state=1)

# Fit the model using the resampled training data

log_reg_model.fit(X_resampled,y_resampled)

# Make a prediction using the testing data

y_pred = log_reg_model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [22]:
# Print the balanced_accuracy score of the model 
  
# print(f"Training Data Score: {classifier.score(X_train, y_train)}")
# print(f"Testing Data Score: {classifier.score(X_test, y_test)}")
balanced_accuracy_score(y_test,y_pred)

0.9941346679624933

In [23]:
# Generate a confusion matrix for the model
  
confusion_matrix(y_test,y_pred)

array([[44719,   290],
       [    8,  1505]], dtype=int64)

In [24]:
# Print the classification report for the model
  
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     45009
           1       0.84      0.99      0.91      1513

    accuracy                           0.99     46522
   macro avg       0.92      0.99      0.95     46522
weighted avg       0.99      0.99      0.99     46522

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** After Random Oversampling, the model is trained on the balanced dataset, and during the training process, it has equal exposure to both classes. This helped the model to be more sensitive to the patterns in the minority class (1) and improve its performance in correctly classifying both classes.